# Supabase Configuration
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here

# RevenueCat Configuration (for iOS and Android in-app purchases)
EXPO_PUBLIC_REVENUECAT_APPLE_API_KEY=your_apple_api_key_here
EXPO_PUBLIC_REVENUECAT_GOOGLE_API_KEY=your_google_api_key_here
